@import "node_modules/bootstrap/scss/bootstrap";

.navbar {
  background-color: $teal-700;
  color: white;
  font-family: "Almarai", sans-serif;
  width: 100%;
  grid-column: 1 / span 2;
}

img {
  width: 50px;
  height: auto;
}

button {
  background: none;
  border: none;
}